dataset/
pothole-map/node_modules
pothole-map/dist
darknet/venv
*.o
*.a
*.dSYM
*.csv
*.out
*.png
*.jpg
*.so
*.exe
*.dll
*.lib
*.dylib
*.pyc
*.bak
darknet/mnist/
darknet/data/
darknet/caffe/
darknet/grasp/
darknet/images/
darknet/opencv/
darknet/convnet/
darknet/decaf/
darknet/submission/
darknet/cfg/
darknet/temp/
darknet/build/darknet/*
darknet/build_*/
darknet/debug/
darknet/ninja/
darknet/ninja.zip
darknet/vcpkg_installed/
darknet/!build/darknet/YoloWrapper.cs
darknet/.fuse*
darknet/*.weights
darknet/build/*.cmake
darknet/build/*.ninja
darknet/build/*.txt
darknet/build/*.json
darknet/build/CMakeFiles/
darknet/build/detect_cuda_compute_capabilities.cu
darknet/build/.ninja_deps
darknet/build/.ninja_log
darknet/build/Makefile
darknet/*/vcpkg-manifest-install.log
darknet/build.log
darknet/__pycache__/

# OS Generated #
darknet/.DS_Store*
darknet/ehthumbs.db
darknet/Icon?
darknet/Thumbs.db
darknet/*.swp

# IDE generated #
darknet/.vs/
darknet/.vscode/

# Managed by CMake
darknet/src/version.h

# Build artifacts
darknet/lib/
darknet/share/
darknet/include/darknet/
darknet/uselib
darknet/uselib_track
darknet/darknet
darknet/kmeansiou
darknet/vcpkg/
